In [36]:
from character import RANGER_LEVEL_5_ARCHERY, RANGER_LEVEL_5_DUAL

AC_LOW = 13
AC_DEFAULT = 16
AC_HIGH = 19
AC_MAX = 22

COMBAT_LENGTH_SHORT = 3
COMBAT_LENGTH_MEDIUM = 6
COMBAT_LENGTH_LONG = 10
COMBAT_LENGTH_MAX = 15

raw = RANGER_LEVEL_5_ARCHERY.simulate(rounds=COMBAT_LENGTH_LONG, target_ac=AC_DEFAULT)

Ranger archery lvl 5 with Heavy Crossbow +1                           , avg DPR: 16.3, Worst combat DPR: 0.0, Best combat DPR: 24.4

In [37]:
import pandas as pd

df = pd.DataFrame(raw)

In [38]:
import numpy as np

dpr_stats_per_combat = pd.DataFrame({
    'combat_mean': df.mean(axis=1),
    'combat_median': df.median(axis=1),
    'combat_percentile_90': df.apply(lambda row: np.percentile(row, 90), axis=1),
    'combat_percentile_10': df.apply(lambda row: np.percentile(row, 10), axis=1),
    'combat_max': df.max(axis=1),
    'combat_min': df.min(axis=1)
})
display(dpr_stats_per_combat)

,combat_mean,combat_median,combat_percentile_90,combat_percentile_10,combat_max,combat_min
0,16.2,17.0,25.2,5.4,27,0
1,16.6,18.5,25.5,5.4,30,0
2,15.0,13.5,25.3,7.8,28,6
3,17.6,18.0,25.4,8.9,29,8
4,15.5,15.0,23.5,7.8,28,6
...,...,...,...,...,...,...
995,17.8,19.0,25.1,8.8,26,7
996,15.1,15.0,23.5,7.2,28,0
997,16.6,20.0,24.0,0.0,24,0
998,13.7,15.5,22.3,0.0,25,0
999,15.2,15.5,22.0,7.9,22,7

In [39]:
dpr_stats_overall = pd.DataFrame({
    'overall_mean': dpr_stats_per_combat.mean(),
    'overall_median': dpr_stats_per_combat.median(),
    'overall_percentile_10': dpr_stats_per_combat.apply(lambda col: np.percentile(col, 10), axis=0),
    'overall_percentile_90': dpr_stats_per_combat.apply(lambda col: np.percentile(col, 90), axis=0),
    'overall_max': dpr_stats_per_combat.max(),
    'overall_min': dpr_stats_per_combat.min()
})

display(dpr_stats_overall)

,overall_mean,overall_median,overall_percentile_10,overall_percentile_90,overall_max,overall_min
combat_mean,16.3026,16.4,13.20,19.40,24.4,8.2
combat_median,16.5980,16.5,12.50,20.50,25.0,7.5
combat_percentile_90,24.2990,24.3,20.59,27.91,34.3,14.1
combat_percentile_10,7.8727,8.0,0.00,12.60,20.2,0.0
combat_max,27.2870,27.0,23.00,32.00,41.0,15.0
combat_min,4.2970,6.0,0.00,9.10,17.0,0.0